.topnav-setter{
    position: relative;
    top: 0px;
    height: 65px;
    background-color: lighten($primaryColor, 55%);
}

.registration-wrapper{
    width: 90%;
    height: 93vh;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 8px black;
    background-image: url(../image/showcase4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .transparent{
        border-radius: 20px;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.65);

        .logo{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            align-items: center;
    
            img{
                margin-top: 15px;
                width: 60px;
            }
    
            h1{
                color: $primaryColor;
            }
    
            h2{
                color: $primaryColor;
            }
        }

        .form{
            width: 85%;
            margin: auto;

            .input{
                display: grid;
                grid-template-columns: 1fr;

                & > div{
                    margin-bottom: 15px;
                }

                .label label{
                    color: $primaryColor;
                    font-size: 20px;
                    font-weight: 700;
                }

                .input input{
                    padding: 10px;
                    font-size: 18px;
                    border-style: none;
                    text-align: left;
                    padding-left: 0px;
                    background-color: lighten($primaryColor, 55%);
                    border-bottom: 2px solid rgb(207, 84, 84);
                    // border-bottom: 2px solid $primaryColor;
                }

                .course-selection{
                    font-size: 20px;
                }

                .submit{
                    a{
                        text-decoration: none;
                        font-size: 20px;
                        display: block;
                        text-align: center;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        background-color: rgb(207, 84, 84);
                        color: white;
                    }
                }
            }
        }
    }

}

@media screen and (min-width: 768px) {
    .topnav-setter{
        height: 90px;
    }
    
    .registration-wrapper{
        width: 60%;
        height: 760px;
        top: 50px;
    
        .transparent{   
            .logo{
                img{
                    margin-top: 30px;
                    margin-bottom: 15px;
                    width: 100px;
                }
        
                h1{
                    font-size: 40px;
                    line-height: 45px;
                }
        
                h2{
                    font-size: 25px;
                    line-height: 45px;
                }
            }
    
            .form{
                width: 70%;
                margin: auto;
    
                .input{
                    display: grid;
                    grid-template-columns: 1fr;
    
                    & > div{
                        margin-bottom: 25px;
                    }
    
                    .label label{
                        font-size: 20px;
                    }
    
                    .input input{
                        padding: 10px;
                        font-size: 20px;
                    }
    
                    .course-selection{
                        font-size: 20px;
                        padding: 10px 0px;

                        input[type="radio"]{
                            width: 13px;
                            height: 13px;
                        }
                    }
    
                    .submit{
                        a{
                            font-size: 20px;
                            padding: 5px 0px;
                        }
                    }
                }
            }
        }
    
    }
}

@media screen and(min-width: 1024px) {
    .topnav-setter{
        display: none;
    }
    
    .registration-wrapper{
        width: 50%;
        height: 780px;
        margin-bottom: 50px;
        top: 130px;
    
        .transparent{    
            .logo{
                img{
                    margin-top: 25px;
                    width: 100px;
                }
            }
        }
    }
}